/*width*/
::-webkit-scrollbar {
    width: 6px;
}

/*Track*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/*Handle*/
::-webkit-scrollbar-thumb {
    background: #ccc6c6;
    border-radius: 10px;
}

/*Handle on hover*/
::-webkit-scrollbar-thumb:hover {
    background: #ada3a3;
}

pre {
    font-family: Montserrat-Regular;
    font-size: 15px;
    line-height: 1.7;
    color: #888888;
    margin: 0px;
}

.endUserCategory ul {
    background: rgba(255, 255, 255, 0.8);
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    margin-left: 10px;
}

.endUserCategory ul li span {
    color: #666666;
    float: left;
    width: 50px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    font-family: Montserrat-Regular;
    font-size: 18px;
}

.endUserCategory ul li.active span {
    color: red;
}

.endUserCategory ul li a {
    color: #666666;
    float: left;
    width: 50px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    font-family: Montserrat-Regular;
    font-size: 18px;
}

.endUserCategory ul li a:hover {
    color: red;
}

.priceOptionCategory {
    width: 185px;
}

button.btnFilter {
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #ffff;
    height: 32px;
    text-transform: uppercase;
    background-color: #4A4A4A;
}

/* Block Billing
  ========================================================================== */

.block-billing .block-title, .block-billing-product .block-title {
    background: #e6e6e6;
    text-align: center;
    line-height: 45px;
    text-transform: uppercase;
}

.block-billing .block-content {
    padding: 10px;
    border: 1px solid #ebebeb;
}

.block-billing-product .block-content {
    padding: 10px;
    border: 1px solid #dfdfdf;
}

.block-info-address .block-content {
    padding: 10px;
}

.block-info-address .block-content p {
    color: #666;
    margin-bottom: 5px;
}

.block-info-address .block-content p:last-child {
    margin-bottom: 0;
}

.block-info-address .block-content p .title {
    margin-right: 5px;
}

.table-billing-product {
    width: 100%;
}

.table-billing-product .table-width {
    width: 67%;
}

.table-width > strong {
    font-size: 15px;
}

.block-billing-product .table-billing-product > tbody > tr > td,
.block-billing-product .table-billing-product > tbody > tr > th,
.block-billing-product .table-billing-product > tfoot > tr > td,
.block-billing-product .table-billing-product > tfoot > tr > th,
.block-billing-product .table-billing-product > thead > tr > td,
.block-billing-product .table-billing-product > thead > tr > th {
    padding: 12px;
    vertical-align: top;
    border-bottom: 1px solid #d8d8d8;
}

.block-billing-product .table-billing-product > thead > tr > th {
    border-bottom: none;
}

.block-billing-product .table-billing-product > thead > tr {
    background: #eaeaea;
}

.block-billing-product .table-billing-product > tbody > tr:last-child > td {
    border-bottom: none;
}

/*===========Class error=========*/
input.error {
    border: 1px red solid !important;
    border-radius: 2px;
}

textarea.error {
    border: 1px red solid !important;
    border-radius: 2px;
}

a.rl-checkout {
    color: white;
}

a.rl-checkout:hover {
    color: white;
}

.wrap-slick3-dots {
    height: 750px;
    overflow-y: auto;
    direction: rtl;
}

.divSearchAll {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.formSearch-All {
    background-color: #ffffff;
    padding: 15px 0px;
    display: flex;
    flex-wrap: wrap;
}

.input-search-all input {
    margin-top: 8px;
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #333333;
    padding: 0;
    border-bottom: 1px solid transparent;
}

button.iCon-searchAll:hover {
    transition: 0.3s;
    color: #e65540;
}

.iCon-searchAll {
    float: left;
}

.input-search-all {
    float: left;
    width: 80%;
}

.input-search-all input {
    margin-left: 12px;
    width: 100%;
}

.diviconRemoveRecornd {
    float: left;

}

@media (max-width: 992px) {
    .divSearchAll {
        width: 100%;
    }
}

.fix_tel {
    position: fixed;
    bottom: 15px;
    right: 0;
    z-index: 999;
}