/*width*/
::-webkit-scrollbar {
    width: 6px;
}

/*Track*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/*Handle*/
::-webkit-scrollbar-thumb {
    background: #ccc6c6;
    border-radius: 10px;
}

/*Handle on hover*/
::-webkit-scrollbar-thumb:hover {
    background: #ada3a3;
}

pre {
    font-family: Montserrat-Regular;
    font-size: 15px;
    line-height: 1.7;
    color: #888888;
    margin: 0px;
}

.endUserCategory ul {
    background: rgba(255, 255, 255, 0.8);
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    margin-left: 10px;
}

.endUserCategory ul li span {
    color: #666666;
    float: left;
    width: 50px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    font-family: Montserrat-Regular;
    font-size: 18px;
}

.endUserCategory ul li.active span {
    color: red;
}

.endUserCategory ul li a {
    color: #666666;
    float: left;
    width: 50px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    font-family: Montserrat-Regular;
    font-size: 18px;
}

.endUserCategory ul li a:hover {
    color: red;
}

.priceOptionCategory {
    width: 185px;
}

button.btnFilter {
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #ffff;
    height: 32px;
    text-transform: uppercase;
    background-color: #4A4A4A;
}

/* Block Billing
  ========================================================================== */

.block-billing .block-title, .block-billing-product .block-title {
    background: #e6e6e6;
    text-align: center;
    line-height: 45px;
    text-transform: uppercase;
}

.block-billing .block-content {
    padding: 10px;
    border: 1px solid #ebebeb;
}

.block-billing-product .block-content {
    padding: 10px;
    border: 1px solid #dfdfdf;
}

.block-info-address .block-content {
    padding: 10px;
}

.block-info-address .block-content p {
    color: #666;
    margin-bottom: 5px;
}

.block-info-address .block-content p:last-child {
    margin-bottom: 0;
}

.block-info-address .block-content p .title {
    margin-right: 5px;
}

.table-billing-product {
    width: 100%;
}

.table-billing-product .table-width {
    width: 67%;
}

.table-width > strong {
    font-size: 15px;
}

.block-billing-product .table-billing-product > tbody > tr > td,
.block-billing-product .table-billing-product > tbody > tr > th,
.block-billing-product .table-billing-product > tfoot > tr > td,
.block-billing-product .table-billing-product > tfoot > tr > th,
.block-billing-product .table-billing-product > thead > tr > td,
.block-billing-product .table-billing-product > thead > tr > th {
    padding: 12px;
    vertical-align: top;
    border-bottom: 1px solid #d8d8d8;
}

.block-billing-product .table-billing-product > thead > tr > th {
    border-bottom: none;
}

.block-billing-product .table-billing-product > thead > tr {
    background: #eaeaea;
}

.block-billing-product .table-billing-product > tbody > tr:last-child > td {
    border-bottom: none;
}

/*===========Class error=========*/
input.error {
    border: 1px red solid !important;
    border-radius: 2px;
}

textarea.error {
    border: 1px red solid !important;
    border-radius: 2px;
}

a.rl-checkout {
    color: white;
}

a.rl-checkout:hover {
    color: white;
}

.wrap-slick3-dots {
    height: 750px;
    overflow-y: auto;
    direction: rtl;
}

.divSearchAll {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.formSearch-All {
    background-color: #ffffff;
    padding: 15px 0px;
    display: flex;
    flex-wrap: wrap;
}

.input-search-all input {
    margin-top: 8px;
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #333333;
    padding: 0;
    border-bottom: 1px solid transparent;
}

button.iCon-searchAll:hover {
    transition: 0.3s;
    color: #e65540;
}

.iCon-searchAll {
    float: left;
}

.input-search-all {
    float: left;
    width: 80%;
}

.input-search-all input {
    margin-left: 12px;
    width: 100%;
}

.diviconRemoveRecornd {
    float: left;

}

@media (max-width: 992px) {
    .divSearchAll {
        width: 100%;
    }

    .header1 {
        height: 90px !important;
    }

    footer.bg6 img {
        width: 200px;
    }

    .formSearch-All {
        position: relative;
        top: 77px;
        z-index: 1100;
    }

    .wrap-slick3-dots {
        height: 565px;
    }

    .item-category-home {
        height: 165px !important;
    }

    .chat_on {
        position: fixed !important;
        right: 10px !important;
    }

    .divCtaterory-first-aLink {
        margin-left: 0px;
    }

    .divCtaterory-first-aLink a {
        font-size: 22px;
        justify-content: unset;
    }

}

@media (min-width: 350px) and (max-width: 500px) {
    .item-category-home {
        height: 165px !important;
    }
}

@media (min-width: 550px) and (max-width: 670px) {
    .item-category-home {
        height: 300px !important;
    }
}

.item-category-home {
    width: 100%;
    height: 942px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.btn-category {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    transition: all .15s ease-in-out;
    border: 1px solid gray;
    margin-bottom: .5rem;
}

.btn-category > input[type='checkbox'] {
    width: 1em;
    height: 1em;
    padding: 0px 5px;
}

.btn-category > span.active::after {
    content: "\2611";
}

.btn-category > span.not-active::before {
    content: "\2610";
}

.close_face {
    white-space: nowrap;
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 5px 25px;
    background: #cea663;
    color: #fff;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
}

/*===========================
     CHAT BOOT MESSENGER
   ===========================*/
.chat_close_icon {
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    right: 15px;
    z-index: 9;
}

.chat_on {
    position: fixed;
    z-index: 10;
    width: 45px;
    height: 45px;
    right: 30px;
    bottom: 30px;
    background-color: #b4b9bd;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    cursor: pointer;
}

.chat_on_icon {
    color: #fff;
    font-size: 30px;
    text-align: center;
}

#small_chat .layout {
    box-sizing: content-box !important;
    z-index: 999999999;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 5px;
    min-width: 50px;
    max-width: 300px;
    max-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 5px 0 20px 5px rgba(0, 0, 0, .1);
}

#small_chat .layout-expand {
    height: 350px;
    min-height: 350px;
    display: none;
}

#small_chat .messenger_content {
    position: relative;
    padding: 5px 5px;
    height: 100%;
    width: 100%;
}

#small_chat .messenger_header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

#small_chat .messenger_header {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 40px;
    height: 40px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background-color: gainsboro;
}

#small_chat .messenger_prompt {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

#small_chat .messenger_content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

#small_chat .messages {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 250px;
    max-height: 250px;
    padding: 10px;
    background-color: #fff;
}

.wrap_header .logo {
    top: 30px;
    display: block;
    position: absolute;
    left: 19%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.object {
    animation: skew 27s infinite;
    transform: skew();
    transition-duration: 27s;
    -webkit-transition-duration: 18s;
}

.object:hover {
    transform: rotate(10deg);
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Safari and Chrome */
}

@keyframes skew {
    0% {
        transform: scale(1, 1) translate(10px, -30px);
        -ms-transform: scale(1, 1) translate(10px, -30px); /* prefix for IE 9 */
        -webkit-transform: scale(1, 1) translate(10px, -30px); /* prefix for Safari and Chrome */;
    }
    50% {
        transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1, 1) translate(10px, -30px);
        -ms-transform: scale(1, 1) translate(10px, -30px);
        -webkit-transform: scale(1, 1) translate(10px, -30px);
    }
}

.parent-hover-img {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    overflow: hidden;
    background-color: #ffffff;
}

.parent-hover-img:hover .hover-img {
    opacity: 1;
    visibility: visible;
}

.hover-img {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
}

.category-image {
    margin-left: 0px;
    margin-right: 0px;
}

.div-categoryImage {
    height: 945px;
}

.cd-accordion-menu input[type=checkbox] {
    /* hide native checkbox */
    position: absolute;
    opacity: 0;
    right: 40px;

    content: "\f105";
}

.cd-accordion-menu label, .cd-accordion-menu a {
    color: white;
    /* position: relative; */
    padding-left: 20px;
}

.cd-accordion-menu, .cd-accordion-menu ul {
    position: relative;
    padding-left: 8px;
    display: none;
    background-color: #888888;
}

.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
    display: block;
}

.has-children .arrow-main-menu-li {
    font-size: 14px;
    position: absolute;
    right: 40px;
    -webkit-transition: all 0.4s !important;
    -o-transition: all 0.4s !important;
    -moz-transition: all 0.4s !important;
    transition: all 0.4s !important;
}

.categoryImage {
    margin-left: 0px;
    margin-right: 0px;
}

.hov-categoryItem-zoom:hover,
.hov-categoryItem-zoom:focus {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(0.9);
    transition: all 11.4s;
}

.categoryItemText {
    color: #824f4f;
}